<%= render 'person/form', person: student, name: 'student', back: students_path do |form| %>

  <div class="field">
    <%= form.label :lesson_part, 'Current Lesson', class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.grouped_collection_select :lesson_part_id, lessons, :parts, :display_number, :id, :display_number, include_blank: "No Current Lesson" %>
      </div>
    </div>
  </div>

<% end %>
